# Dependencies
node_modules/

# Environment variables (JANGAN PUSH KE GITHUB!)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temp scripts
download-music.js